html {
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
  font-family: 'Source Sans Pro', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.theme {
  margin-top: 0;
  width: 100%;
  height: 100vh;
}
.pdf-mode {
  display: none;
}
.mainBody {
  @include themed() {
    background: t($bg);
    color: t($text);
  }
  overflow: auto;
  margin: 0, auto;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
  height: inherit;
  display: grid;
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 5% 90% 5%;
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: 10% 80% 10%;
  }
  grid-template-rows: 10% auto 5%;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer ."
}
.content {
  margin: 0, auto;
  grid-area: main;
  //overflow: auto;
}
main {
  display: grid;
  font-size: 1em;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: 100/6% 100/6% 100/6% 100/6% 100/6% 100/6%; 
    grid-template-areas:
      "skills"
      "details"
      "summary"
      "experience"
      "education"
      "interests";
  }
  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.25fr 0.5fr 0.75fr 0.5fr;
    grid-template-areas: 
      "skills skills"
      "details summary"
      "experience education"
      "experience interests";
  }
}
h3 {
  margin: 0.5em;
  text-align: center;
  @include themed() {
    color: t($text-important);
  };
}
h4 {
  margin: 0.5em 0 0.5em 0;
}
