html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.theme {
  @media only screen and (min-width: 992px) {
    height: 100vh;
  }
  @media only screen and (max-width: 992px) {
    height: 100%;
  }
  width: 100%;
}
.mainBody {
  @include themed() {
    background: t($bg);
    color: t($text);
  }
  margin: 0, auto;
  transition: color 0.5s, background-color 0.5s;
  height: inherit;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% auto 5%;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer ."
}
.content {
  margin: 0, auto;
  grid-area: main;
  //overflow: auto;
}
main {
  display: grid;
  font-size: 1em;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 20% 20% 20% 20%;
    grid-template-areas: 
      "skills skills"
      "details summary"
      "experience summary"
      "experience education"
      "experience education"
      "experience interests";
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: 100/6% 100/6% 100/6% 100/6% 100/6% 100/6%; 
    grid-template-areas:
      "skills"
      "details"
      "summary"
      "experience"
      "education"
      "interests";
  }
}
h3 {
  margin: 0.5em;
  text-align: center;
  @include themed() {
    color: t($text-important);
  };
}
footer {
  grid-area: footer;
}