//Colours
//light
$bg--light:#F5F4F3;
$text--light:#333333;
$text--imp--light: #000066;
$text--2--light: "";
$brand--blue--light: #000066;
//dark
$bg--dark:#333333;
$text--dark:#F5F4F3;
$text--imp--dark: #3366ff;
$text--2--dark:"";
$brand--blue--dark: #3366ff;